* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    background-color: #6d66fe;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

h1 {
    color: white;
    font-size: 60px;
}