<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login SignUp</title>
    <link rel="stylesheet" href="signup.css">
</head>
<body>
    <main>
        <div class="card">
            <div class="container">
                <h1>Signup Page</h1>
                <form action="/signup" method="post">
                    <input type="text" name="username" id="username" placeholder="Username" required>
                    <input type="password" name="password" id="password" placeholder="Password" required>
                    <button type="submit">Sign Up</button>
                </form>
                <p>Already have an account?<a href="/login">Login</a></p>
                <p id="error">{{%ERROR%}}</p> 
            </div>
        </div>
    </main>    
</body>
</html>